<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slicemobileapp4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/slice_swb_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/slice_swb_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".customize_salad"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_customize_salad"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name=".customize_item"
            android:label="@string/title_activity_customize_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".customize_pizza"
            android:label="@string/title_activity_customize_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".slices"
            android:label="@string/title_activity_slices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sweets"
            android:label="@string/title_activity_sweets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sides"
            android:label="@string/title_activity_sides"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".salads"
            android:label="@string/title_activity_salads"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calzone"
            android:label="@string/title_activity_calzone">
        </activity>
        <activity
            android:name=".pasta"
            android:label="@string/title_activity_pasta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pizza"
            android:label="@string/title_activity_pizza"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>